# Start a server with current dir as root
alias server="php -S localhost:1337"

# Some git commands can't be short enaugh!!
alias g="git"
alias gs="g s"
alias gd="g d"
alias ga="g a"
alias gc="g c"

# ls mit versteckten dateien und slashes an ordnern
alias ls="ls -pa1"
# Check reboot times
alias re="last reboot"
# Clear up the terminal window
alias c="clear"
# get all ports
alias ports="sudo lsof -i -P | grep -i LISTEN"
# change owner to current user
alias access="sudo chown -R $USER "
# get all processes
alias processes="lsof -i TCP"

# Show/hide hidden files in Finder
alias showdotfiles="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hidedotfiles="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Hide/show the full path in the Finder window.
alias showfinderpath="defaults write com.apple.finder _FXShowPosixPathInTitle -bool YES && killall Finder"
alias hidefinderpath="defaults write com.apple.finder _FXShowPosixPathInTitle -bool NO && killall Finder"

# A guest can’t open Finder and is limited to the Apps in the dock
alias startguestmode="defaults write com.apple.finder InterfaceLevel simple && killall Finder"
alias stopguestmode="defaults write com.apple.finder InterfaceLevel standard && killall Finder"

# Enable ⌘+q for Finder
alias enablefinderquit="defaults write com.apple.finder QuitMenuItem 1 && killall Finder"
alias disablefinderquit="defaults write com.apple.finder QuitMenuItem 0 && killall Finder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"

# Todo commands
alias "t"="todo.sh -d ~/todo/todo.cfg"
alias "todo"="t ls"

# Colored up cat!
# You must install Pygments first - "sudo easy_install Pygments"
alias cat='pygmentize -O style=monokai -f console256 -g'

# ifconfig greps
alias ip4="ifconfig |grep 'inet '"
alias ip6="ifconfig |grep 'inet6 '"
alias ipall="ifconfig |grep inet"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -='cd -'
alias currentsize="du -sh"
alias h="history"

# Open current folder
alias o="open ."

# Apps
alias sourceTree="open -a SourceTree ./"
alias st="open -a SourceTree ./"
alias chromium_unsecure="open -a /Applications/Chromium.app --args --disable-web-security"

# Faster npm for Europeans
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu/"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g; sudo gem update --system; sudo gem update'
