## ssh
alias zuber="ssh zyklop@der-zyklop.de"
alias puber="ssh pxwrk@pxwrk.de"
alias buber="ssh betti@unisono-giessen.de"
alias skuber="ssh skmobil@sk-mobil.com"
alias synology="ssh admin@192.168.188.23"

# Some git commands can't be short enaugh!!
alias gs="g s"
alias gd="g d"
alias ga="g a"
alias gc="g c"

# ls mit versteckten dateien und slashes an ordnern
alias ls="ls -pa1"
# Check reboot times
alias re="last reboot"
# Clear up the terminal window
alias c="clear"
# get all ports
alias ports="sudo lsof -i -P | grep -i LISTEN"
# change owner to current user
alias access="sudo chown -R $USER "
# get all processes
alias processes="lsof -i TCP"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"

# Some often-used git stuff
alias "g"="git"

# Todo commands
alias "t"="todo.sh -d ~/todo/todo.cfg"
alias "todo"="t ls"

# Colored up cat!
# You must install Pygments first - "sudo easy_install Pygments"
alias cat='pygmentize -O style=monokai -f console256 -g'

# ifconfig greps
alias ip4="ifconfig |grep 'inet '"
alias ip6="ifconfig |grep 'inet6 '"
alias ipall="ifconfig |grep inet"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -='cd -'
alias currentsize="du -sh"
alias h="history"

# Open current folder
alias o="open ."

# Faster npm for Europeans
command -v npm > /dev/null && alias npme="npm --registry http://registry.npmjs.eu/"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm update npm -g; npm update -g; sudo gem update --system; sudo gem update'
