function commandExists() {
  if ! foobar_loc="$(type -p "$1")" || [ -z "$foobar_loc" ]; then
    return 1
  else
    return 0
  fi
}


function gp() {
  if [ $# -gt 1 ]; then
    echo "USAGE: gp [commit-msg]"
    tput setaf 1
    echo "Maximum one param!"
    tput sgr0
  elif [ $# -lt 1 ]; then
    git push
  else
    git commit -m $1
    git push
  fi
}

function gi() {
  git init
  touch README.md
  touch .gitignore
  echo -e ".gitignore\n.DS_Store"> .gitignore
}

# color diffs for SVN
function svndiff () {
  svn diff ${1+"$@"} | colordiff
}


### NAVIGATION ###

function p() {
  if [ $# -gt 1 ]; then
    echo "USAGE: p projectname"
    tput setaf 1
    echo "Maximum one param!"
    tput sgr0
  elif [ $# -lt 1 ]; then
    echo "USAGE: p projectname"
    tput setaf 1
    echo "Minimum one param!"
    tput sgr0
  else
    if [ -d ~/Documents/workspace/PlaceWorkers/$1 ]; then
      echo "${red}Located in an old project-dirctory! Move it!${reset}"
      cd ~/Documents/workspace/PlaceWorkers/$1
    elif [ -d ~/Cloud/server/$1 ]; then
      echo "${red}Located in an old project-dirctory! Move it!${reset}"
      cd ~/Cloud/server/$1
    elif [ -d ~/Cloud/server/github-derzyklop/$1 ]; then
      echo "${red}Located in an old project-dirctory! Move it!${reset}"
      cd ~/Cloud/server/github-derzyklop/$1
    elif [ -d ~/Cloud/server/pxwrk.de/$1.pxwrk.de ]; then
      echo "${red}Located in an old project-dirctory! Move it!${reset}"
      cd ~/Cloud/server/pxwrk.de/$1.pxwrk.de
    elif [ -d ~/Cloud/server/pxwrk.de/git.pxwrk.de/$1 ]; then
      echo "${red}Located in an old project-dirctory! Move it!${reset}"
      cd ~/Cloud/server/pxwrk.de/git.pxwrk.de/$1
    elif [ -d ~/S/$1 ]; then
      cd ~/S/$1
    elif [ -d ~/S/$1.pxwrk.de ]; then
      cd ~/S/$1.pxwrk.de
    elif [ -d ~/PW/$1 ]; then
      cd ~/PW/$1
    elif [ -d ~/PW/Projekte/$1 ]; then
      cd ~/PW/Projekte/$1

    else
      tput setaf 1
      echo "-------------------------"
      echo "Error: Project not found!"
      echo "-------------------------"
      tput sgr0
    fi
  fi
}
