### NAVIGATION ###
function p() {
  if [ $# -gt 1 ]; then
    echo "USAGE: p projectname"
    tput setaf 1
    echo "Maximum one param!"
    tput sgr0
  elif [ $# -lt 1 ]; then
    echo "USAGE: p projectname"
    tput setaf 1
    echo "Minimum one param!"
    tput sgr0
  else
    found_it=false

    for i in ${PROJECTDIRS[*]}; do
      if [ -d $i$1 ]; then
        cd $i$1
        found_it=true
      fi
      if [ -f $i$1 ]; then
        unzip -q $i$1 -d $i
        cd $i${1%.*}
        rm -f $i$1
        found_it=true
      fi
    done;
    if [ $1 == 'plano' ]; then
      cd scheduler.frontend.ng2
      found_it=true
    fi
    if [[ "$found_it" = false ]]; then
      tput setaf 1
      echo "-------------------------"
      echo "Error: Project not found!"
      echo "-------------------------"
      tput sgr0
    fi
  fi
}

update_terminal_cwd() {
  # Identify the directory using a "file:" scheme URL,
  # including the host name to disambiguate local vs.
  # remote connections. Percent-escape spaces.
  local SEARCH=' '
  local REPLACE='%20'
  local PWD_URL="file://$HOSTNAME${PWD//$SEARCH/$REPLACE}"
  printf '\e]7;%s\a' "$PWD_URL"
}


git () {
  # Check if the command is disabled.
  # You can disable a command by running:
  #   git config --global --bool disabled.<command> true
  local disabled=$(command git config --bool disabled.$1 2>/dev/null)

  if ${disabled:-false} ; then
    # Draw a red cross to get the user's attention.
    X=${red}✖${reset}
    # Print the helpful message.
    echo -e "$X The command '$1' is disabled. Most likely there is a related alias in ~/.dotfiles/.gitconfig." >&2
    return 1
  fi

  # Run a command every time someone runs git checkout.
  if [[ "$1" == "checkout" ]]; then
    # Draw green exclamation marks to get the user's attention.
    X=${green}!!!${reset}
    echo "$X Switched to another branch? Start new JIRA tracking."
  fi

  command git "$@"
}
